@charset "UTF-8";

body {
    background: rgb(123, 165, 255);
    font: normal 15pt Arial, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

div {
    margin: 10px;
}

div input#verificar {
    background: rgb(123, 165, 255);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

div input#verificar:hover {
    background: rgb(100, 140, 220);
}

div p#botaoverificar {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}